<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="appName" value="PlanYourDay" />
  <variable name="companyName" value="MortenBrudvik" />

  <!-- Will log to ..\username\AppData\Local\{companyName}\{appName}\ -->
  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate}|${event-properties:EventId}|${uppercase:${level}} ${pad:padding=2:inner=${threadid}}: ${callsite:includeNamespace=False:skipFrames=1} - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:UserProfile}\AppData\Local\${companyName}\${appName}\${appName}.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:UserProfile}\AppData\Local\${companyName}\${appName}\${appName}_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" />
  </targets>
  <rules>
    <!--All logs from Microsoft-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="internal" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />  BlackHole without writeTo

    <logger name="*" writeTo="default" minlevel="Trace" />
  </rules>
</nlog>